alabaster==0.7.11
argh==0.26.2
asn1crypto==0.24.0
Babel==2.6.0
bumpversion==0.5.3
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
cryptography==2.3.1
docutils==0.14
flake8==3.5.0
idna==2.7
imagesize==1.0.0
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
pathtools==0.1.2
pbr==4.2.0
pluggy==0.7.1
py==1.5.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
tox==2.9.1
urllib3==1.22
virtualenv==15.1.0
watchdog==0.8.3
