pip==9.0.1
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.5.0
tox==2.9.1
coverage==4.4.2
pycodestyle==2.3.1
Sphinx==1.6.5
cryptography==2.1.4
PyYAML==3.12
ecdsa==0.13
base58==0.2.5
bitcoin==1.1.42
mpmath==1.0.0
scrypt==0.8.0
pycrypto==2.6.1
